<!-- <app-homepage></app-homepage>
<app-pipetest></app-pipetest>
<app-directivetest></app-directivetest> -->

<!-- <app-payment></app-payment>
<app-httptest></app-httptest> -->

<h3>Home Comp</h3>
<button routerLink="/home">Home</button>

<button routerLink="/receiver">Receiver</button>

<button routerLink="/pipe">Pipe</button>

<button routerLink="/directive">Directive</button>

<button routerLink="/http">Http</button>


<button routerLink="/payment">Payment</button>
<router-outlet></router-outlet>
